@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    html {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.001s !important;
      transition-delay: 0.001s !important;
      transition-duration: 0.001s !important;
    }
  }

  button,
  [role='button'],
  input[type='submit'] {
    background: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-transform: inherit;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  /* Eliminate outline for mouse users */
  html[data-whatintent='mouse'] *:focus,
  html[data-whatintent='keyboard'] *:focus,
  html[data-whatintent='touch'] *:focus {
    outline: none;
    @apply shadow-outline;
  }

  html[data-whatintent='mouse'] *:focus {
    @apply shadow-none;
  }

  svg {
    fill: currentColor;
  }

  abbr[title] {
    text-decoration: none;
  }

  table {
    border-spacing: 0;
  }

  th {
    text-align: left;
  }

  p {
    @apply text-16;
    @apply leading-normal;

    & a {
      @apply no-underline;
      @apply text-blue-700;

      &:hover,
      &:active {
        @apply bg-left-bottom bg-repeat-x;

        background-image: linear-gradient(
          to right,
          theme('colors.blue.700') 100%,
          transparent 100%
        );
        background-size: 1px 1px;
      }

      &:active {
        background-image: linear-gradient(
          to right,
          theme('colors.blue.700') 100%,
          transparent 100%
        );
      }
    }
  }

  strong {
    @apply font-bold;
  }
}
