/*
 * Sample Component .list
 * when using tailwind always prefer
 * utility classes provided by tailwind
 * and use @apply to extract components
 */
.list {
  @apply list-none;
  @apply text-16;

  & li {
    @apply mb-12;
    @apply leading-tight;
  }

  & a {
    @apply no-underline;
    @apply text-blue-700;

    &:hover,
    &:active {
      @apply bg-left-bottom bg-repeat-x;

      background-image: linear-gradient(
        to right,
        theme('colors.blue.700') 100%,
        transparent 100%
      );
      background-size: 1px 1px;
    }

    &:active {
      background-image: linear-gradient(
        to right,
        theme('colors.blue.700') 100%,
        transparent 100%
      );
    }
  }
}
